@import 'colors';
@import 'variables';
@import 'services';
@import 'tabs';
@import 'bookings';
@import 'guests';

* {box-sizing: border-box; margin: 0; padding: 0; };


aside {
  background-color: $sideNav;
  padding: 20px;
  font-size: 1.5rem;
  width: 40%;

  .daily-view {
    margin: 20px 0;
  }

  #currentDate {
    color: #fff;
    display: block;
    font-size: 1.5rem;
  }

}

body {
  background-color: $primaryBg;
  display: flex;
}

main {
  width: 100%;
}


