@import 'colors';
@import 'variables';

* {box-sizing: border-box; margin: 0; padding: 0; };


aside {
  background-color: $sideNav;
  height: 100vh;
  padding: 20px;
  font-size: 1.5rem;
}


body {
  background-color: $primaryBg;
  display: flex;
}

// .content-services {
//   display: none;
// }

// .content-guests {
//   display: none;
// }

// .content-bookings {
//   display: none;
// }
